:root {
   --color-primary: #f9d72f;
   --color-background: #e6e6e6;
   --color-task: #f7f7f7;
   --color-success: #6cda98;
   --color-warning: #e07b39;
   --color-error: #e03c31;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   max-width: 1000px;
   margin: auto;
}

.conteiner {
   width: 100%;
   padding: 20px;
   margin: 40px auto 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);

}

h2 {
   margin-bottom: 30px;
   font-size: 1.5rem;
}

.input-section {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
}

.input-section input {
   margin-right: 10px;
   width: 100%;
   border: var(--color-primary) 1px solid;
   border-radius: 5px;
   padding: 10px;
   color: grey;

}

.input-section input:focus {
   outline: none;
   box-shadow: 0 0 5px var(--color-primary);
}

button {
   padding: 10px 20px;
   border: none;
   background-color: var(--color-primary);
   color: rgb(34, 32, 32);
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

button:hover {
   background-color: rgb(255, 223, 87);
}

.todos-operator {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

#deleteAll {
   background-color: var(--color-error);
}

#deleteAll:hover {
   background-color: rgb(255, 100, 88);
}

table {
   width: 100%;

}

thead {
   background-color: var(--color-background);
   width: 100%;
   padding: 0;
   margin: 0;
}

thead th {
   padding: 10px;
   text-align: left;
   /* width: 80px; */
}

thead th:first-child {
   border-top-left-radius: 10px;
}

thead th:last-child {
   border-top-right-radius: 10px;
}

tbody td {
   background-color: var(--color-task);
   padding: 5px 10px;
   text-align: center;
   width: 25%;
}

tbody td button {
   padding: 4px 8px;
   margin: 2px 5px;

}

tbody td button:nth-child(2) {
   background-color: var(--color-success);
   width: 48px;
}

tbody td button:nth-child(2):hover {
   background-color: rgb(100, 200, 150);

}

tbody td button:nth-child(1) {
   background-color: var(--color-warning);
}

tbody td button:nth-child(1):hover {
   background-color: rgb(255, 180, 100);
}

tbody td button:nth-child(3) {
   background-color: var(--color-error);
}

tbody td button:nth-child(3):hover {
   background-color: rgb(255, 100, 88);
}

#alert-message {
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
}

.alert {
   width: 100%;
   text-align: center;
   border-radius: 4px;
   padding: 5px;
}

.alert-success {
   background-color: var(--color-success);

}

.alert-error {
   background-color: var(--color-warning);

}